{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travolo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="bg-secondary">
    <div class="container d-flex flex-row justify-content-center align-items-center" style="height:200px;">
        <div class="text-center">
            <h2>You are not allowed here</h2>
            <a href="../">Go Back</a>
        </div>
    </div>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
</body>
</html>